[Unit]
Description=Heater Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 -u main.py main --temp 55
WorkingDirectory=/home/pi/python/water_heater
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target